@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");

// ! Global variables
$bg-index: white;
$max-width: 800px;

/* ! Reset all elements */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

hr {
  border-top: 1px dashed lightgray;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ! Index page styling */
body.index {
  .wrapper {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: $max-width;
    margin: auto;
    background-color: $bg-index;

    h1 {
      font-family: "Amatic SC", cursive;
      margin-top: 50px;
      font-size: 64px;
      font-weight: lighter;
      margin-left: 10px;
    }

    h2 {
      font-family: "Titillium Web", sans-serif;
      font-size: 74px;
      font-weight: bolder;
      text-transform: uppercase;
    }

    .signature {
      font-family: "Amatic SC", cursive;
      font-size: 24px;
      font-weight: lighter;
      margin-left: 20px;

      a {
        font-weight: bold;
        text-decoration: none;
        color: black;
        transition: color 0.5s;

        &:hover {
          color: red;
        }
      }
    }

    .section {
      .item {
        /* * background image */
        background-image: var(--bgi);
        background-size: $max-width auto;
        background-attachment: local;
        background-position: center;

        a {
          transition: color 1s, -webkit-text-stroke 0.75s, backdrop-filter 0.5s;
          /* * formatting */
          padding: 10% 0 10% 0;
          display: flex;
          align-items: center;
          justify-content: center;
          /* * colors and text styling */
          text-decoration: none;
          color: transparent;
          -webkit-text-stroke: 1px black;
          /* * background image */
          -webkit-background-clip: text;
          background-clip: text;
          background-image: var(--bgi);
          /* * backdrop filtering */
          -webkit-backdrop-filter: blur(5px) saturate(0.1) contrast(0.75);
          backdrop-filter: blur(5px) saturate(0.1) contrast(0.75);
          background-size: $max-width auto;
          background-attachment: local;
          background-position: center;

          &:hover {
            /* * colors and text styling */
            color: var(--color);
            -webkit-text-stroke: 1px var(--stroke);
            /* * backdrop filtering */
            -webkit-backdrop-filter: blur(0px) saturate(1) contrast(1);
            backdrop-filter: blur(0px) saturate(1) contrast(1);
          }
        }
      }
    }

    #footer {
      .copyright {
        text-align: center;
        margin-bottom: 20px;

        a {
          color: red;
          text-decoration: none;
          font-weight: 600;
          transition: color 0.5s;

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $max-width) {
  hr {
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  body.index {
    .wrapper {
      width: 100%;

      h1 {
        margin-top: 5vw;
        font-size: 8vw;
        margin-left: 1vw;
      }

      h2 {
        font-size: 9vw;
      }

      .signature {
        font-size: 3vw;
        margin-left: 2vw;
      }
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  /* ! Detect touch screen devices */
  body.index {
    .wrapper {
      .section {
        .item {
          a {
            transition: none;
            /* * colors and text styling */
            color: var(--color);
            -webkit-text-stroke: 1px var(--stroke);
            /* * backdrop filtering */
            -webkit-backdrop-filter: blur(0px) saturate(1) contrast(1);
            backdrop-filter: blur(0px) saturate(1) contrast(1);
          }
        }
      }
    }
  }
}

/* ! Experiment pages styling */
body.experiment {
  overflow: hidden;

  .wrapper {
    font-family: "Roboto", sans-serif;
    font-weight: 300;

    .description {
      transition: 0.5s ease;
      opacity: 0;
      border: 1px dashed gray;
      padding: 0.5em;
      max-width: 60%;
      position: absolute;
      bottom: 25px;
      right: 5px;

      &[visible] {
        opacity: 1;
        bottom: 5px;
      }

      a {
        color: red;
        text-decoration: none;
        font-weight: 900;
        transition: color 0.5s;

        &:hover {
          color: black;
        }
      }

      b {
        font-weight: 900;
      }

      table {
        margin-top: 1.5em;

        tr {
          td:first-child {
            text-align: center;
            vertical-align: text-top;
            padding-right: 0.25em;
          }
        }
      }

      .command {
        font-weight: 500;
      }

      .top-tab {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: 1px dashed gray;

        .close {
          transition: 0.5s ease;
          background-color: gray;
          float: right;
          padding: 0 0.5em 0.1em 0.5em;
          font-family: "Titillium Web", sans-serif;
          text-decoration: none;
          font-weight: lighter;

          &::before {
            content: "x";
          }
        }
      }

      &.light {
        color: black;
        background-color: rgba($color: white, $alpha: 0.7);

        .close {
          color: white;

          &:hover {
            background-color: black;
          }
        }
      }

      &.dark {
        color: white;
        background-color: rgba($color: black, $alpha: 0.7);

        .close {
          color: black;

          &:hover {
            background-color: white;
          }
        }
      }
    }
  }
}

/* ! Return Corner */
@keyframes arrow-shake {
  0%,
  100% {
    transform: translate(0 0);
  }
  20%,
  60% {
    transform: translate(10px);
  }
  40%,
  80% {
    transform: translate(-10px);
  }
}

.return-corner {
  position: fixed;
  left: 0.5em;
  top: 0.5em;

  svg {
    width: 3rem;
    height: 3rem;

    a {
      circle,
      polyline {
        fill: black;
        fill-opacity: 0;
        stroke-width: 15px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }

      &:hover {
        .arrow {
          animation: arrow-shake 0.5s;
        }
      }
    }
  }

  &.light {
    svg {
      a {
        stroke: white;
      }
    }
  }

  &.dark {
    svg {
      a {
        stroke: black;
      }
    }
  }
}

/* ! GitHub Corner */
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(20deg);
  }
  40%,
  80% {
    transform: rotate(-10deg);
  }
}

.github-corner {
  position: fixed;
  right: 0.5em;
  top: 0.5em;

  svg {
    width: 3rem;
    height: 3rem;

    a {
      circle {
        fill: black;
        fill-opacity: 0;
        stroke-width: 15px;
      }

      &:hover {
        .octo-arm {
          animation: octocat-wave 0.5s;
        }
      }
    }
  }

  &.index {
    svg {
      a {
        circle {
          stroke: black;
        }

        path {
          fill: black;
        }
      }
    }
  }

  &.light {
    svg {
      a {
        circle {
          stroke: white;
        }

        path {
          fill: white;
        }
      }
    }
  }

  &.dark {
    svg {
      a {
        circle {
          stroke: black;
        }

        path {
          fill: black;
        }
      }
    }
  }
}
