@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
/* ! Reset all elements */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

hr {
  border-top: 1px dashed lightgray;
  margin: 2em 0 2em 0;
}

/* ! Index page styling */
body.index .wrapper {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 800px;
  margin: auto;
  background-color: white;
}
body.index .wrapper h1 {
  font-family: "Amatic SC", cursive;
  margin-top: 0.5em;
  font-size: 4em;
  font-weight: lighter;
}
body.index .wrapper h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 5em;
  font-weight: bolder;
  text-transform: uppercase;
}
body.index .wrapper .items .item {
  /* * background image */
  background-image: var(--bgi);
  background-size: 800px auto;
  background-attachment: local;
  background-position: center;
}
body.index .wrapper .items .item a {
  transition: color 1s, -webkit-text-stroke 0.75s, backdrop-filter 0.5s;
  /* * formatting */
  padding: 10% 0 10% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* * colors and text styling */
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 1px black;
  /* * background image */
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--bgi);
  /* * backdrop filtering */
  -webkit-backdrop-filter: blur(5px) saturate(0.1) contrast(0.75);
  backdrop-filter: blur(5px) saturate(0.1) contrast(0.75);
  background-size: 800px auto;
  background-attachment: local;
  background-position: center;
}
body.index .wrapper .items .item a:hover {
  /* * colors and text styling */
  color: var(--color);
  -webkit-text-stroke: 1px var(--stroke);
  /* * backdrop filtering */
  -webkit-backdrop-filter: blur(0px) saturate(1) contrast(1);
  backdrop-filter: blur(0px) saturate(1) contrast(1);
}
body.index .wrapper #footer {
  text-align: center;
}
body.index .wrapper #footer .signature {
  font-family: "Amatic SC", cursive;
  font-size: 1.5em;
  font-weight: lighter;
}
body.index .wrapper #footer .signature a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}
body.index .wrapper #footer .signature a:hover {
  color: red;
}
body.index .wrapper #footer .copyright {
  font-size: 1em;
  margin: 2em 0 2em 0;
}

@media only screen and (max-width: 800px) {
  hr {
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  body.index .wrapper {
    width: 100%;
  }
  body.index .wrapper h1 {
    margin-top: 5vw;
    font-size: 8vw;
    margin-left: 1vw;
  }
  body.index .wrapper h2 {
    font-size: 9vw;
  }
  body.index .wrapper .signature {
    font-size: 3vw;
    margin-left: 2vw;
  }
}
@media (hover: none) and (pointer: coarse) {
  /* ! Detect touch screen devices */
  body.index .wrapper .items .item a {
    transition: none;
    /* * colors and text styling */
    color: var(--color);
    -webkit-text-stroke: 1px var(--stroke);
    /* * backdrop filtering */
    -webkit-backdrop-filter: blur(0px) saturate(1) contrast(1);
    backdrop-filter: blur(0px) saturate(1) contrast(1);
  }
}
/* ! Experiment pages styling */
body.experiment {
  overflow: hidden;
}
body.experiment .wrapper {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
body.experiment .wrapper .description {
  transition: 0.5s ease;
  opacity: 0;
  border: 1px dashed gray;
  padding: 0.5em;
  max-width: 60%;
  position: absolute;
  bottom: 25px;
  right: 5px;
  -webkit-backdrop-filter: blur(5px) contrast(1.5);
  backdrop-filter: blur(5px) contrast(1.5);
}
body.experiment .wrapper .description[visible] {
  opacity: 1;
  bottom: 5px;
}
body.experiment .wrapper .description a {
  color: red;
  text-decoration: none;
  font-weight: 900;
  transition: color 0.5s;
}
body.experiment .wrapper .description b {
  font-weight: 900;
}
body.experiment .wrapper .description table {
  margin-top: 1.5em;
}
body.experiment .wrapper .description table tr td:first-child {
  text-align: center;
  vertical-align: text-top;
  padding-right: 0.25em;
}
body.experiment .wrapper .description .command {
  font-weight: 500;
}
body.experiment .wrapper .description .top-tab {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom: 1px dashed gray;
}
body.experiment .wrapper .description .top-tab .close {
  transition: 0.5s ease;
  background-color: gray;
  float: right;
  padding: 0 0.5em 0.1em 0.5em;
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
  font-weight: lighter;
}
body.experiment .wrapper .description .top-tab .close::before {
  content: "x";
}
body.experiment .wrapper .description.light {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
}
body.experiment .wrapper .description.light a:hover {
  color: black;
}
body.experiment .wrapper .description.light .close {
  color: white;
}
body.experiment .wrapper .description.light .close:hover {
  background-color: black;
}
body.experiment .wrapper .description.dark {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
body.experiment .wrapper .description.dark a:hover {
  color: white;
}
body.experiment .wrapper .description.dark .close {
  color: black;
}
body.experiment .wrapper .description.dark .close:hover {
  background-color: white;
}

/* ! Return Corner */
@-webkit-keyframes arrow-shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(10px);
  }
  40%, 80% {
    transform: translateX(-10px);
  }
}
@keyframes arrow-shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(10px);
  }
  40%, 80% {
    transform: translateX(-10px);
  }
}
.return-corner {
  position: fixed;
  left: 0.5em;
  top: 0.5em;
}
.return-corner svg {
  width: 3rem;
  height: 3rem;
}
.return-corner svg a circle,
.return-corner svg a polyline {
  fill: black;
  fill-opacity: 0;
  stroke-width: 15px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.return-corner svg a:hover .arrow {
  -webkit-animation: arrow-shake-horizontal 0.5s;
          animation: arrow-shake-horizontal 0.5s;
}
.return-corner.light svg a {
  stroke: white;
}
.return-corner.light svg a circle {
  fill: gray;
  fill-opacity: 0.5;
}
.return-corner.dark svg a {
  stroke: black;
}
.return-corner.dark svg a circle {
  fill: gray;
  fill-opacity: 0.5;
}

/* ! Render Corner */
@-webkit-keyframes arrow-shake-vertical {
  0%, 100% {
    transform: translateY(0);
  }
  20%, 60% {
    transform: translateY(10px);
  }
  40%, 80% {
    transform: translateY(-10px);
  }
}
@keyframes arrow-shake-vertical {
  0%, 100% {
    transform: translateY(0);
  }
  20%, 60% {
    transform: translateY(10px);
  }
  40%, 80% {
    transform: translateY(-10px);
  }
}
.render-corner {
  position: fixed;
  left: 0.5em;
  bottom: 0.5em;
}
.render-corner svg {
  width: 3rem;
  height: 3rem;
}
.render-corner svg a circle,
.render-corner svg a polyline {
  fill: black;
  fill-opacity: 0;
  stroke-width: 15px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.render-corner svg a:hover .arrow {
  -webkit-animation: arrow-shake-vertical 0.5s;
          animation: arrow-shake-vertical 0.5s;
}
.render-corner.light svg a {
  stroke: white;
}
.render-corner.light svg a circle {
  fill: gray;
  fill-opacity: 0.5;
}
.render-corner.dark svg a {
  stroke: black;
}
.render-corner.dark svg a circle {
  fill: gray;
  fill-opacity: 0.5;
}

/* ! GitHub Corner */
@-webkit-keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(20deg);
  }
  40%, 80% {
    transform: rotate(-10deg);
  }
}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(20deg);
  }
  40%, 80% {
    transform: rotate(-10deg);
  }
}
.github-corner {
  position: fixed;
  right: 0.5em;
  top: 0.5em;
}
.github-corner svg {
  width: 3rem;
  height: 3rem;
}
.github-corner svg a circle {
  fill: black;
  fill-opacity: 0;
  stroke-width: 15px;
}
.github-corner svg a:hover .octo-arm {
  -webkit-animation: octocat-wave 0.5s;
          animation: octocat-wave 0.5s;
}
.github-corner.index svg a circle {
  stroke: black;
}
.github-corner.index svg a path {
  fill: black;
}
.github-corner.light svg a circle {
  stroke: white;
  fill: gray;
  fill-opacity: 0.5;
}
.github-corner.light svg a path {
  fill: white;
}
.github-corner.dark svg a circle {
  stroke: black;
  fill: gray;
  fill-opacity: 0.5;
}
.github-corner.dark svg a path {
  fill: black;
}

/* Ko-fi */
#kofi-button-container {
  position: fixed;
  margin: 0;
  padding: 0;
  right: 0.5em;
  bottom: 0.7em;
  z-index: 999;
}
#kofi-button-container .kofi-button {
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5) !important;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#kofi-button-container .kofi-button:hover {
  background-color: rgb(0, 0, 0) !important;
}
#kofi-button-container:hover > #close {
  opacity: 1;
}
#kofi-button-container #close {
  transition: 0.5s;
  color: black;
  opacity: 0;
  position: absolute;
  top: -1.5em;
  right: 0.5em;
  text-align: right !important;
}
#kofi-button-container #close:hover {
  cursor: pointer;
  font-weight: bold !important;
}/*# sourceMappingURL=style.css.map */